# General
*.log
*.pyc
.vscode/
__pycache__/

# PlatformIO
client/.pio/
client/.vscode/

# CMake
server/.vscode/
server/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Other
.DS_Store
Thumbs.db

